QMainWindow{
    background-color: white;
}

QPushButton{
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: 600;
    outline: none;
}

QPushButton:hover{
    background-color: yellowgreen;
    color: white;
}

QLabel{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
