QMainWindow{
    background-color: white;
}

QPushButton{
    /* outline: none; */
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: 600;
    outline: none;
    /* border: 1px solid #999; */
    /* border-radius: 10px; */
}

QPushButton:hover{
    background-color: yellowgreen;
    color: white;
}

QLabel{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
